{% extends "base.html" %}

{% block title %}Welcome to Month{% endblock %}

{% block content %}
	<h1>Welcome to my Month</h1>

		<div id="shores">
	<h1>Calendar</h1>
	<div id="monthsearch"><button><</button><button>January 20017</button><button>></button></div>
	<p>{{ num }} is a good day to be alive.</p>
	<table>
		<tr><th>Sun </th><th>Mon </th><th>Tue </th><th>Wed </th><th>Thu </th><th>Fri </th><th>Sat </th></tr>
		<tr>

			{% for day in month_2017 %}
				<td>
					{{ day }}
				</td>
				{% if forloop.last %}
					</tr>
				{% else %}
		     		{% if forloop.counter|divisibleby:"7" %}
		       		</tr><tr>
		     		{% endif %}
	   			{% endif %}
			{% endfor %}
	</table>
	</div>

{% endblock %}
	